table {
    text-align: center; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    border-collapse: collapse;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

th {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    padding: 10px;
}

td {
    border: 1px solid; color: #000000;
    padding: 10px;
    text-align: left;
}